>.next_edition_container {
  background-color: #fff;
  box-sizing: border-box;
  padding: 50px 10px 0 10px;
  position: relative;
  text-align: center;
  z-index: 3;
  a {
    background-color: #27833A;
    border-radius: 28px;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    padding: 16px 36px;
    text-decoration: none;
    transition: background-color .2s ease;
    &:hover {
      background-color: #72bf44;
    }
  }
}
